<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to current_site.name, root_url %></h1>
  <ul class="nav_menu">
    <% current_site.sections.each do |section| %>
      <%= menu_section(section.name, section.path, section.menu_collection) %>
    <% end %>
    <%= menu_section("PRODUCTS", "", ProductType.all) %>
  </ul>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
