<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to current_site.name, root_url %></h1>
  <% current_site.sections.each do |s| %>
    <%= link_to s.name, "/#{s.slug}" %>
  <% end %>

  <%= yield %>

</body>
</html>
