<h2>Content Manager Home Page</h2>

<ul>
  <li><%= link_to "Sections", "/manage/sections" %></li>
 <li><%= link_to "Pages", manage_pages_path %></li>
<% @publishable_types.each do |pt| %>
   <li><%= link_to pt.name.singularize.tableize.titleize, send("manage_#{pt.name.tableize}_path") %></li>
<% end %>
</ul>
<h3>Site Settings</h3>

<%= link_to "Publishable Types", "/manage/publishable_types" %><br>

<%= render :partial => '/manage/local_links' %>
