
<h1><%= @page.title %></h1>

<% @page.asset_types.each do |ai| %>
  <%=  image_tag @page.asset_files("header").first.asset.url if @page.asset_files("header") && @page.asset_files("header").first %>
<% end %>

<p>
<%= m(@page.body) %>
</p>

<div id="controls">
  <%= link_to "Back", manage_pages_path %>
  <%= link_to "Edit", edit_manage_page_path(@page) %>
  <%= link_to "Delete", manage_page_path(@page), :method => :delete, :class => "danger", :confirm => "Delete this #{@publishable.class.to_s}?" %>
</div>
