<%= semantic_form_for [:manage, @publishable], :html => { :multipart => true } do |form| %>
  <% if @publishable.errors && @publishable.errors.count > 0 %>
    <% @publishable.errors.full_messages.each do |e| %>
      <%= e %><br>
    <% end %>
  <% end %>
  <%= form.inputs @publishable_class.to_s do %>
    <% @publishable.editable_fields.collect{ |an| an.to_sym }.each do |field| %>
      <%= form.input field %>
    <% end %>
  <% end %>
  <% if @publishable.asset_types.length > 0 %>
    <%= form.semantic_fields_for :asset_items do |asset_form| %>
      <%= asset_form.inputs "Asset" do %>
        <% if asset_form.object.asset.present? %>
          <%= link_to(image_tag(asset_form.object.asset.url(:thumb)), asset_form.object.asset.url(:original), :target => "_new") %>
        <% end %>
        <%= asset_form.input :asset_type, :as => :select, :collection => @publishable.asset_types %>
        <%= asset_form.input :asset, :as => :file %>
      <% end %>
    <% end %>
  <% end %>
  <%= form.semantic_fields_for :publication do |pub| %>
    <%= pub.inputs "Publication Settings" do %>
      <%= pub.input :custom_slug, :required => false %>
      <%= pub.input :collection_publishable_type_id, :as => :select, :collection => Publinator::PublishableType.all, :required => false %>
      <%= pub.input :collection_scope, :required => false %>
      <%= pub.input :publish_at, :as => :datetime_select, :required => false %>
      <%= pub.input :unpublish_at, :as => :datetime_select, :required => false %>
      <%= pub.input :archive_at, :as => :datetime_select, :required => false %>
      <%= pub.input :hide_in_submenu, :as => :boolean, :required => false %>
    <% end %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, :as => :button %>
    <%= form.action :cancel, :as => :link %>
  <% end %>
<% end %>

<% if @publishable.menu_collection %>
  <h3><%= @publishable.collection_name %></h3>
  <ul class="sortable_list" sorturl="sort">
    <% @publishable.menu_collection.each do |mcp| %>
      <li id="<%= "#{mcp.class.to_s.downcase}_#{mcp.id}" %>"><%= mcp.title %></li>
    <% end %>
  </ul>
<% end %>
