<li class="ui-state-default" id="publishable_<%= summary.id %>">
  <%= link_to summary.my_slug, [:manage, summary] %><br>
  <%= summary.updated_at %> [
  <%= link_to "edit", send("edit_manage_#{@publishable_member_name}_path", summary) %>
  <%= link_to "show", [:manage, summary] %>
  <%= link_to "public", summary.path %> ]
</li>
