<tr>
  <td><%= link_to summary.my_slug, [:manage, summary] %></td>
  <td><%= link_to summary.publication.section.name if summary.publication.section %></td>
  <td><%= summary.updated_at %></td>
  <td><%= link_to "edit", send("edit_manage_#{@publishable_type_name.downcase}_path", summary) %></td>
  <td><%= link_to "show", [:manage, summary] %></td>
  <td><%= link_to "public", summary.path %></td>
</tr>
