<h1><%= @publishable.title %></h1>

<% @publishable.asset_types.each do |ai| %>
  <%= publishable_asset(@publishable, ai) %>
<% end %>

<p>
<%= m(@publishable.body) %>
</p>

<div id="controls">
  <%= link_to "Back",   send("manage_#{params[:publishable_type]}_path") %>
  <%= link_to "Edit",   send("edit_manage_#{params[:publishable_type].singularize}_path", @publishable) %>
  <%= link_to "Delete", send("manage_#{params[:publishable_type].singularize}_path", @publishable), :method => :delete, :class => "danger", :confirm => "Delete this #{@publishable.class.to_s}?" %>
</div>
